body{
	background: orange;
	margin:60px;
}
.fbox{
	text-align: center;
     
}
.fbox span{
	font-size:60px;
    
}
.jumbotron{
	text-align: center;
	background: yellow;

}
.footer{
	text-align:center;
}
